body{
    padding: 0;
    margin: 10;
    color: #000000;
    font-family: Tahoma;
    font-size: 12px;
    line-height: 18px;
}
td {
padding: 0;
background-image:url(images/bebe1.jpg);
width:500px;
height: 500px;px;
float: top;
}
.link{
color:blue;
float: right;
}
section {
margin-left:146px;
margin-top:40px;
margin-right:15px;
}